#dropArea, #compressDropArea {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    cursor: pointer;
}
#dropArea.active, #compressDropArea.active {
    border-color: #666;
}
#fileName, #compressFileName {
    margin-top: 10px;
}