<!DOCTYPE html>
<html>
<head>
    <title>PDF to Image Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h1 class="mb-4">PDF to Image Converter</h1>
    <div class="form-group">
        <input type="file" class="form-control-file" id="pdfFile" accept=".pdf">
    </div>
    <button id="convertButton" class="btn btn-primary mb-3">Convert to Image</button>
    <div id="downloadButtonContainer" style="display: none;">
        <button id="downloadButton" class="btn btn-success mb-3">Download Image</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('convertButton').addEventListener('click', function() {
            const file = document.getElementById('pdfFile').files[0];
            if (file) {
                const formData = new FormData();
                formData.append('file', file);

                fetch('http://127.0.0.1:8000/pdf_to_image/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    document.getElementById('downloadButton').href = url;
                    document.getElementById('downloadButtonContainer').style.display = 'block';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                alert('Please select a PDF file.');
            }
        });

        document.getElementById('downloadButton').addEventListener('click', function() {
            const url = document.getElementById('downloadButton').href;
            const a = document.createElement('a');
            a.href = url;
            a.download = 'converted_image.jpg';
            a.style.display = 'none';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
        });
    </script>
</body>
</html>