<!DOCTYPE html>
<html>
<head>
    <title>PDF to Image Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="container mt-5">
    <h1 class="mb-4">PDF to Image Converter</h1>
    <div id="dropArea" class="form-group">
        <p>ここにファイルをドラッグ＆ドロップしてください</p>
        <input type="file" id="pdfFile" accept=".pdf" style="display: none;">
        <p id="fileName"></p>
    </div>
    <button id="convertButton" class="btn btn-primary mb-3">Convert to Image</button>
    <div id="downloadButtonContainer" style="display: none;">
        <button id="downloadButton" class="btn btn-success" >Download Image</button>
    </div>

    <script src="/static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>